* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color-scheme: dark;
  color: black;
  background-color: white;
  margin: 0;
  display: flex;
  /* padding: 20px; */
  /* min-width: 320px; */
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100vw;
}

.container .languageSelectorBox {
  position: absolute;
  right: 20px;
}

.container h1 {
  margin: auto;
  font-size: 40px;
  margin-top: 50px;
}

.btn-container {
  display: flex;
  gap: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.selected {
  background-color: #646cff;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.content .desc {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  gap: 4px;
}

.content .worldImg img {
  height: 500px;
  width: 500px;
}